Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
Werkzeug==0.9.4
beautifulsoup4==4.2.0
distribute==0.6.36
gunicorn==18.0
html5lib==1.0b1
ipython==0.13.2
itsdangerous==0.23
libxml2-python==2.6.21
lxml==3.2.1
pypng==0.0.15
regetron==1.4
six==1.3.0
stevedore==0.10
unittest2==0.5.1
virtualenv==1.9.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.0
wsgiref==0.1.2
